* {
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: gainsboro;
}

h1 {
    color: green;
    width: 100%;
    text-align: center;
	font-weight: bold;
	font-size: 40px;
}

#photoBin {
    width: 100%;
    height: 300px;
}

#photoBin > section {
    margin: auto;
    width: 910px;
}

ul {
    width: 50%;
    margin: auto;
}

li {
    margin: 13px 0;
    text-align: center;
}
img {
    float: center;
    width: 280px;
    margin: 10px;
    min-height: 250px;
    max-height: 250px;
    border: 2px brown solid;
    padding: 1%;
}

#image-caption {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

#verbage { 
    height: 150px;
    position: relative;
}
  
section > p {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section > div {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: justify;
}